@model IEnumerable<RCLAdmin.Core.Models.PrinterEvent>

@{
    ViewData["Title"] = "Index";
}

<h2>Rejestr zdarzeń</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Counter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Counter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.PrinterEventId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PrinterEventId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PrinterEventId">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
