@model IEnumerable<RCLAdmin.Core.Models.Printer>

@{
    ViewData["Title"] = "Index";
}

<h2>Rejestr drukarek</h2>

<p>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Filtruj po nazwie...">
</p>

<table class="table table-hover table-sm" id="myTable">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(((string)ViewData["CurrentSortOrder"] == "model") ? "model_rev" : "model")">@Html.DisplayNameFor(m => m.PrinterType)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(((string)ViewData["CurrentSortOrder"] == "ip") ? "ip_rev" : "ip")">@Html.DisplayNameFor(model => model.IP)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(((string)ViewData["CurrentSortOrder"] == "localization") ? "localization_rev" : "localization")">@Html.DisplayNameFor(model => model.Localisation)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Info)
            </th>
            <th width="15%">
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.PrinterType.ToString()
            </td>
            <td>
                <a href="http://@item.IP" target="_blank" class="ipcheck">@item.IP</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localisation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Info)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PrinterId" class="linkth glyphicon glyphicon-edit"></a> |
                <a asp-action="Details" asp-route-id="@item.PrinterId" class="linkth glyphicon glyphicon-wrench"></a> |
                <a asp-action="Delete" asp-route-id="@item.PrinterId" class="linkth glyphicon glyphicon-trash"></a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="Create">Dodaj nową</a>
</p>
